@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";


@theme{
  --font-bebas: Bebas Neue,"sans-serif";
  --font-josefin: Josefin Sans, "sans-serif";
  --font-outfit: Outfit, "sans-serif";
}


::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}
